<div class="about-djbase">

    <div class="col-md-12 row">
      <h3>DeeJBase is a voice for <em>real</em> musicians, the venues and promoters who hire them, and the people who love them.</h3>
      <h3>We encourage you to contribute by writing HONEST reviews of music and music-focused events... or just sit back and enjoy the content</h3>
    </div>
    <div>
      <%= link_to(image_tag(@user.image_url), user_path(@user))%><br>
      <br><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Sarah Stroh // coder // BK-resident // electronic-music fiend
    </div>
  </div>

<br><Br>
  <div class='footer controls text-center col-md-12' id="footer">
    <% if !logged_in? %>
    <%= link_to "Login", '/auth/facebook' %> |
    <%= link_to "Sign Up", '/auth/facebook' %>
    <%end%>
    </div>

