<div class="page-header text-center col-md-6 col-md-offset-3">
<h1>Why Does the DJ Suck?</h1>
</div>
<div class="about-djbase text-center col-md-6 col-md-offset-3">
<h4><p>There are far too many talented DJs out there trying to get a gig.<br>There are far too many middle men in between the venues and the acts where there needn't be.<br>There's far too little info on how good Djs are, how much they should be hired for, and where to find them.</p><p><strong>We're here to solve this problem.</strong></p></h4>
<%= link_to "Login", '/auth/facebook' %> |
<%= link_to "Sign Up", '/auth/facebook' %> |
<%= link_to 'Back', root_path %> |

</div>