    <%= form_tag(search_venues_path, method: 'get', class: "search-djs navbar-form pull-right", role: "search") do %>
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Output" name="name">
          <div class='input-group-btn'>       
          <button class="btn btn-primary" type="submit">Find Venues <i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
      <% end %>