<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>CONTACT REQUESTED</h1>
    <p>
       Someone wants to get in touch thru your site. Their email address is <%= @email if @email %> <br></p>Their message was: <p><%= @message %>.
    </p>

    <p>You're amazing!</p>
  </body>
</html>
