<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
Hello,<br>
<p>
I found this email on soundcloud, and I was wondering how much you might charge for a Friday night (from 11pm-3am or so) for a private party in NYC. Just looking for a general range.
</p>
<p>
The event would be a few months down the line with about 200 guests -  we're planning on renting out a bar or loft, it would be mostly people in their mid-late 20s, and we would provide speakers and lighting.
</p>
<p>
Thank you!
</p><p>
Best,<br>
Sarah</p>

-- <br>
Sarah Stroh | 914 498 3727
  </body>
</html>