<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
Hello,
</p><p>
I found this email on soundcloud, and I was wondering how much you might charge for a Friday night (from 11pm-3am or so) for a private party in NYC for around 200 people. We would provide speakers and lighting. The party would be a few months down the line, so just looking for a general price range for now.
</p>
<p>
Looking forward to hearing back - thanks!
</p><p>
Best,<br>
Sarah</p>

-- <br>
  </body>
</html>