<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
Hello!
</p><p>
You're getting this email because you're a real DJ in NYC deemed legit enough to be on our site. And you're also on soundcloud and seem to be hustling. Because of this, you have a profile on www.deejbase.com, which is a website that helps venues and event planners more easily hire DJs in NYC.
</p>
My name is Sarah. I'm also in NYC and love electronic music. We wanted to create a website that made it easier for DJs like you to get gigs (and the not-so-good ones to not ruin our evenings unnecessarily).
</p>
<p>
Your profile is already up. <p> http://www.deejbase.com/djs/<%=@dj.slugify%>> </p> All you need to do to take control of it is:<br><br>
1. Log in to our site with facebook:  http://www.deejbase.com/auth/facebook
<p>
2. After you are redirected you must enter this secret code:<br>
<strong><%= @sdcl_id %></strong><br>
- this links directly to the profile for <%= @dj.name%>. If this isn't you, please disregard.<br> 

</p><p>
Or you can visit www.deejbase.com directly to check it out. When you're ready, click "Log in with Facebook" in the navigation bar, then enter your code above.
</p>
<p>
At this point, we're a young company that just wants to make something useful. If you have any suggestions or questions, you can just reply to this email.
P.S. I'm a real human: https://www.facebook.com/profile.php?id=624363
</p><p>
Best,<br>
Sarah</p>

-- <br>
Sarah Stroh | 914-498-3727 </body>
</html>