<div id="ember-container" class="navbar navbar-default navbar-fixed-top">
  <div class= "container">
    <ul class="nav navbar-nav">
      {{#link-to 'index' class='navbar-brand' tagName='li'}}Home{{/link-to}}</li>
      <li>{{#link-to 'venues'}}Venues{{/link-to}}</li>

    </ul>
        
  </div>
</div>
<div class="container">
<h1>Venues</h1>
{{outlet}}
</div>


<footer class='container'>

</footer>