/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap/theme';
@import "bootstrap-social.css";
@import "font-awesome";
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");
@import "bootswatch/lumen/bootswatch";
@import url("fonts.googleapis.com/css?family=Hammersmith+One:400,700");
@import url("fonts.googleapis.com/css?family=Muli");
@import url("fonts.googleapis.com/css?family=Montserrat");
@import url("fonts.googleapis.com/css?family=Karla");
@import url("fonts.googleapis.com/css?family=Exo+2:400,500");
@import url("fonts.googleapis.com/css?family=Permanent+Marker");

html {  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body { 
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  padding-top: 70px;
  background-image: linear-gradient(to bottom, #f8f8f8 0%, #ccc 100%);
  background: #241f10;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

.container-fluid {
  background-color: #241f10;
  border-radius: 20px;

}

p {
  font-weight: 300;
}


h4 a {
   color: #1375FF;
    font-family: 'Hammersmith+One', sans-serif;
    font-weight: 600;
    font-size: 18px;
    }


.navbar-brand,
.navbar-nav li a {
    line-height: 55px;
    height: 55px;
    padding-top: 0;
}

.navbar .container, .navbar {
  background-color: transparent;
  border-color: transparent;
}

.index-image img, .profile-pic img {
    height: 150px;
    width: auto;
    max-width: 225px;
    border-radius: 30px;
}

.profile-pic img {
    height: 200px;
    width: auto;
    max-width: 250px;
}

.edit-dj, .hire-dj, .contact, .cancel-message {
  margin-top: 20px;
}

iframe {
    height: 130px;
    width: 100%;
}

.edit-or-contact .btn:hover {
  margin-top: 21px;

}

.edit-or-contact {
  margin-right: 20px;
}

/*.navbar-brand {
  line-height: 40px;
  height: 100px;
}*/


.search-djs {
  margin-top: 25px;
  margin-right: 25px
}

.dj-item {
  border-bottom: 2px solid #3A3434;
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 60px;
  color: #0f0f0f;
}



a:hover, .dj-item:hover, .dj-item h4:hover, .dj-header h2:hover, .bio h4:hover, .preview:hover, .djb:hover {
  text-decoration: none;
  color: rgba(10, 10, 10, 0.5);
}

.bio h4 {
  color: #0f0f0f;

}

.top {
  margin-left: 12px;
  display: inline;
  }

.row.page-header {
  font-family: 'Montserrat', sans-serif;
}

.container #bar {
  background-color: transparent;
}

.container {
  background-image: linear-gradient(to bottom, #ccc 0%, #f8f8f8 100%);
}

.venue-index {  
  
}

.venue-list {
  background: transparent;
}

.venue-show{
 
}
.select-genre {
  margin-right: 5px;
}
.dj-profile {
  padding: 40px;
  background-color: transparent;
  margin: 10px;
}
.dj-info {
  background: #ededed;
  border-radius: 10px;
  padding: 10px;
  background: rgba(252, 212, 221, 0.2);
  color: #EBEBE7;
  border-bottom: 2px solid #3A3434;

}

.track {
  border-bottom: 1px solid #b0b0b0;
  border-radius: 30px;
  padding: 10px;
}

h5, .h5 {
font-size: 16px;
}

.footer {
  padding: 20px;
}


.genre-form {
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
}

.rate-button .btn:hover {
  margin-top: 1px;
}

.user-rate {
  border-bottom: 2px solid #3A3434;
  border-radius: 20px;
  margin-bottom: 1px;
  padding: 8px;
  background-color: #2D2818;
}

.bio:hover {
    color: #bbb
}

.btn-facebook:hover {
  margin-top: 0px;
}

li { cursor: pointer; }

.user-image img {
  height: 100px;
  width: auto;
  border-radius: 30px;
  padding: 5px;
  margin-right: 8px;
  max-width: 100px;
}

.user-rating, .user-comment {
  padding: 5px;
  overflow: hidden;
}


.user-thumbnail img {
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
  background-color: white;
  height: 50px;
  width: auto;
}

.user-comment {
  padding-right: 30px;
  overflow: hidden;
}

.comments-title, .tracks-title {
  font-weight: bold;
  font-variant: small-caps;
}

.review {
  background: #ededed;
  border-radius: 10px;
  padding: 5px;
  margin-top: 8px;
  font-size: 15px;
  background:rgba(252, 212, 221, 0.2);
  color: #EBEBE7;
  border-bottom: 2px solid #3A3434;
}

.navbar-form .form-control {
  max-width: 170px
}


.youtube iframe {
  width: 420px;
  height: 315px;
}

.map iframe {
  height: 200px;
  width: auto;
  margin-left: 10px;
  border-radius: 30px;

}

.venue-info {
  margin-left: 15px;
}
.map .btn {
  margin-left: 38px;
}

.claim-event {
  background: transparent;
  padding-left: 15px;
}

.updated {
  font-size: 12px;
}

.venue-comments-title {
  margin-left: 10px;
}

.link-dj {
  font-size: 13px;
}
  
.show-user-image img {
  height: 200px;
  width: auto;
  border-radius: 30px;
  margin: 35px;
  margin-bottom: 0px;
}

.show-review {
  margin: 20px;
  padding: 35px;
}

#map {
  border-radius: 30px;
}

.navbar-default {
  background: transparent;
  background: rgba(191, 216, 235, 0.5);
}

.header {
  padding: 15px;
}

.pagination ul:active {
  background: black;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background: black;
  border-color: black;
}

.pagination > li > a:hover, .pagination > li > a {
  color: black;
}

btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
}


.header .title {
  background: transparent;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #aaa;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 1px 1px 5px #333;
  color: #96967E;
}

.title h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-variant: small-caps;
}

.text-center {
  text-align: center;
}


a .bio h5, a .djb{
  color: #000;
}

.dj-header h2, .dj-item .djb, .dj-item h4, .preview {

  font-family: 'HelveticaNeueLT-MediumCond', Helvetica, Arial,sans-serif;
  color: #EBEBE7;
  font-weight: 300;

}

.navbar-default .navbar-nav > li > a {
  color: #403D3D;
}
.navbar-brand > img {
  margin-top: 5px;
}
.btn-primary {
  background-color: rgb(21, 103, 255);
  background-image: linear-gradient(to bottom, rgb(21, 103, 255) 0%, #265a88 100%);
}

.navbar-brand {
  margin-left: 10px;
}

a#drop1 {
  margin-right: 15px;
}

.venue-list {
  h2, h3, p {
  font-family: 'HelveticaNeueLT-MediumCond', Helvetica, Arial,sans-serif;
  color: #EBEBE7;
  }
  h2{
   font-variant: small-caps;
  }
}

#results .row {
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#rate-the-music {
  color: rgba(252, 212, 221, 0.07);
  margin: -5px;
}

.preview {
  margin-top: 2%;
}

#bar {
  background: rgba(191, 216, 235, 0.3);
}

.page-header {
  border-bottom: none;
}

.navbar .btn {
  height: 148%;
  margin-top: -1px;
}

.grey-overlay {
  background-color: rgba(191, 216, 235, 0.2);
}

.red-overlay {
  background-color: rgba(252, 212, 221, 0.1);
}

.brown-overlay {
  background-color: rgba(251, 232, 201, 0.25);
}

.rate-music-header {
  margin-bottom: -30px;
}

.venue-show .title {
  color: #F3F2EC
}

.about-djbase{
  color: #EBEBE7;
}

.datepicker, .bg-warning, .dj-autocomplete input {
  color: black;
}

.alert {
  margin-top: -1%;
}

.dj-autocomplete {
  margin-top: 1%;
}

#venue-search-btn {
  height: 152%; 
}

.social-share {
  margin-top: -2%;
  color: rgb(154, 141, 141);
}

.edit_comment {
  textarea, input {
    color: black;
  }
}

.edit-comment-carrot {
  margin-right: 15px;
}

.dropdown-menu-comment {
  padding-top: 0px;
  padding-bottom: 0px;
}

  @media (max-device-width : 480px) {
    .navbar-fixed-top {
      position: absolute;
      top: auto;
      margin-bottom: 100px;
      height: 80px;
      padding-top: 10px;
      }

    body {
        padding-top: 0px;
      }

    .hidden-xs, .navbar-nav .hidden-xs {
      display: none;
    }
    .container {
      width: 100%;
    }
    .page-header {
      padding-top: 30px;
    }
    .error-top {
      padding-top: 80px;
    }
    .btn {
      font-size: 14px;
    }

    .header .title {
      padding-top: 60px;
    }

    .col-xs-12 {
      width: 100%;
    }

    li .navbar-form {
      margin: 5px;
    }

    .navbar {
      height: 80px;
      font-size: 23px;
    }


}

