/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap/theme';
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");
@import "bootswatch/lumen/bootswatch";
@import url(http://fonts.googleapis.com/css?family=Hammersmith+One:400,700);
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Karla);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,500);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

body { 
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background: #ddd;
  padding-top: 70px;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

.container {
  background-color: #ddd;
  border-radius: 20px;
}


h4 a {
   color: #1375FF;
    font-family: 'Hammersmith+One', sans-serif;
    font-weight: 600;
    font-size: 18px;
    }


.navbar-brand,
.navbar-nav li a {
    line-height: 55px;
    height: 55px;
    padding-top: 0;
}

.navbar .container, .navbar {
  background-color: transparant;
  border-color: transparent;
}
.index-image img, .profile-pic img {
    width: 160px;
    height: auto;
    border-radius: 30px;
}

.profile-pic img {
    height: 200px;
    width: auto;
    border: 1px solid #ccc
}

.edit-dj, .hire-dj, .contact, .cancel-message {
  margin-top: 20px;
}

iframe {
    height: 130px;
    width: 100%;
}

.edit-or-contact .btn:hover {
  margin-top: 21px;

}

.edit-or-contact {
  margin-right: 20px;
}

/*.navbar-brand {
  line-height: 40px;
  height: 100px;
}*/


.search-djs {
  margin-top: 25px;
  margin-right: 25px
}

.dj-item {
 
  border-bottom: 2px solid #ccc;
  border-radius: 20px;
  margin-bottom: 1px;
  padding: 25px;
  background-color: #fafafa;
}

.top {
  margin-left: 12px;
  display: inline;
  }


.title {
  margin-left: 20px;
}

.row.page-header {
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
}

.container #bar {
  background-color: transparant;
}

.container {
  background-image: linear-gradient(to bottom, white 0%, #f8f8f8 100%)
}

.select-genre {
  margin-right: 5px;
}
.dj-profile {
  padding: 25px;
  background-color: #fafafa;
  margin: 10px;
}
.dj-info {
  background: #fff;
  border-radius: 30px;
  padding: 10px;
}

.track {
  border-bottom: 1px solid #b0b0b0;
  border-radius: 30px;
  padding: 10px;
}

h5, .h5 {
font-size: 16px;
}

.footer {
  padding: 20px;
}

a .bio h4, a .bio h5{
  color: #000;
}

.title h1 {
  
  font-family: 'Permanent Marker', cursive;
}



